<!DOCTYPE html>
<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/united/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    {% load static %}
    <link href="{% static '/css/main.css'%}" rel="stylesheet" type="text/css" media="all">
<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>
    <title>Mad Lads</title>
  </head>
  <div>
    <h3 id="logo">MadLads.</h3>
      <div>
        <div class="header">
          <ul>
            <li><a href="/about">About the MadLads/Ladies</a></li>
            <li><a href="/how-to-play">How to Play</a></li>
            <li><a href="/categories">Story Categories</a></li>
            <li><a href="/home">Home</a></li>
          </ul>
          <div>

            <body>
		</br></br>
              <div class="categories-container">
		<div class="center">
		<div class="jumbotron">
		<h1>About</h1>
		<p><h3>MadLads is a fun fill-in-the-blank story game website.</br>The site was created by some Mad Lads and Ladies at the University of Montana.</br>Jan Roddy, Catey Meador, Sean Rice, and Kody Niell created MadLads for their Software Science class in the Fall of 2019.</br>MadLads is derivative of the game MadLibs, with some cool new features.</br>We hope you enjoy our game!<h3></p>
		</div>
		</div>
              </div>
	   </div>
          </div>
        </div>
      </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!--  <script src="js/main.js"></script> -->
  </body>
</html>
