<!DOCTYPE html>
<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/united/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    {% load static %}
    <link href="{% static '/css/main.css'%}" rel="stylesheet" type="text/css" media="all">
<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>
    <title>Mad Lads</title>
  </head>
  <div>
    <h3 id="logo">MadLads.</h3>
      <div>
        <div class="header">
          <ul>
            <li><a href="/about">About the MadLads/Ladies</a></li>
            <li><a href="/help" target="_blank">Help</a></li>
            <li><a href="/categories">Story Categories</a></li>
            <li><a href="/how-to-play">How to Play</a></li>
            <li><a href="/home">Home</a></li>
          </ul>
          <div> 

            <body>
		</br></br>
              <div class="categories-container">

		<div class="center">
		<div class="jumbotron">
		<h1>Word Classes</h1>
		<p>
<h3>Noun:</h3><h4> A word used to identify people, places, or things.
</br>&nbsp&nbspExample: “book”</h4>
<h3>Plural Noun:</h3><h4> A word used to identify multiple people, places, or things.
</br>&nbsp&nbspExample: “chairs”</h4>
<h3>Verb:</h3><h4> A word used to describe an action, state, or occurrence.
</br>&nbsp&nbspExample: “jump”</h4>
<h3>Adverb:</h3><h4> A word used to modify or qualify an adjective, verb, or another adverb (usually ending in “-ly”).
</br>&nbsp&nbspExample: “quickly”</h4>
<h3>Adjective:</h3><h4> A word naming an attribute, added to a noun to modify or describe it.
</br>&nbsp&nbspExample: “blue”</h4>
<h3>Name:</h3><h4> A word used to identify a person.
</br>&nbsp&nbspExample: “Ryan”</h4>
<h3>Animal:</h3><h4> A living organism other than a human.
</br>&nbsp&nbspExample: “dog”</h4>
<h3>Number:</h3><h4> A word, symbol, or figure describing an arithmetical value that represents a particular quantity. Used in counting, making calculations, and for showing order in a series or for identification.
</br>&nbsp&nbspExample: “13” or “thirteen”</h4>
<h3>Country:</h3><h4> The name of a nation with its own government, occupying a particular territory.
</br>&nbsp&nbspExample: “Canada”</h4>
<h3>Body Part:</h3><h4> A word describing any part of a person’s body.
</br>&nbsp&nbspExample: “ear”</h4>
</h4></p>
		</div>


              </div>
	   </div>
          </div>
        </div>
      </div>
       <footer class="site-footer" >

      <div class="copyright">&copy;All Rights Reserved Madlads 2019.</div> 
    </footer>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!--  <script src="js/main.js"></script> -->
  </body>
</html>
