<!DOCTYPE html>
<html>
  <head>
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/united/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="css/main.css" rel="stylesheet" type="text/css" media="all">
    <title>Mad Lads</title>
  </head>
  <div> 
    <h3 id="logo">MadLads.</h3>
  <div> 
  <div class="header">
    <ul>
      <li><a href="about.html">About the MadLads/Ladies</a></li>
      <li><a href="how-to-play.html">How to Play</a></li>
      <li><a href="categories.html">Story Categories</a></li>
      <li><a href="index.html">Home</a></li>
    </ul>
  <div>

  <body>
    <div>
      <h1 class="title">Choose a Mad Story Category!</h1>
    </div>
    <div class="categories-container">
      <div class="column"> <a href="story.html"> Mad Classics </div>
      <div class="column">Stories by Mad Sean</div>
      <div class="column">All Mad Titles (A-Z)</div>
      <div class="column">Mad Random Story</div>

    </div>

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <!--  <script src="js/main.js"></script> -->
  </body>
</html>
